<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=10.19.150.22;Database=Northwind_Lite;uid=sa;pwd=1234"></add>
  </connectionStrings>
</configuration>